*.txt
*.pdf
*.zip
*.rar

**/1ER_BIM/IntroduccionInformatica

**/2DO_BIM/DesarrolloProfesional_2023
**/2DO_BIM/ProgramacionImperativa/node_modules
**/4TO_BIM/Infraestructura_I
*package-lock.json
*package.json

.vscode