*.txt
*.zip
*.rar
*.pdf
./1ER_BIM/Introduccion_a_la_Informatica
./2DO_BIM/DesarrolloProfesional_2023
./2DO_BIM/Programacion_Imperativa/node_modules
./2DO_BIM/Programacion_Imperativa/package-lock.json
./2DO_BIM/Programacion_Imperativa/package.json
.vscode