*.txt
*.pdf
*.xlsx
*.docx
*.zip
*.rar
*.mwb.bak
*.iml

**/out
**/.idea
**/node_modules

**/sources

**/1ER_BIM/IntroduccionInformatica

**/2DO_BIM/DesarrolloProfesional_2023
**/2DO_BIM/ProgramacionImperativa/package-lock.json
**/2DO_BIM/ProgramacionImperativa/package.json

**/4TO_BIM/Infraestructura_I

.vscode
