.headerNav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 0;
	margin-bottom: 4rem;
}

.headerNav__title {
	font-size: 1.5rem;
	font-weight: 700;
	color: var(--accent-color);
}

.headerNav__list {
	display: flex;
	gap: 0.4rem;

	& li {
		display: flex;
	}

	& a {
		padding: 0.6rem 1.2rem;
		font-weight: 500;
		letter-spacing: 0.04rem;
		color: var(--color);
		background-color: transparent;
		transition: all 0.4s ease-in-out;
		border-radius: 0.4rem;

		&::after {
			content: "";
			display: block;
			width: 0;
			height: 3px;
			background-color: var(--accent-color);
			transition: width 0.4s ease-in-out;
		}

		&:hover::after {
			width: 100%;
		}
	}
}
