.headerNav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 0;
}

.headerNav__title {
	font-size: 1.5rem;
	font-weight: 700;
	color: #ddd;
}

.headerNav__list {
	display: flex;
	gap: 0.4rem;

	& li {
		display: flex;
	}

	& a {
		padding: 0.6rem 1.2rem;
		font-weight: 500;
		letter-spacing: 0.04rem;
		color: var(--color);
		background-color: transparent;
		transition: all 0.4s ease-in-out;
		border-radius: 0.4rem;

		&:hover {
			background-color: #ddd;
			color: #222;
		}
	}
}
