/* Navigation bar */
:root{
  --nav-bg-color: #6B4E71;
  --intro-bg-color: #C2B2B4;
  --nav-height: 6rem;
  --white: #FFF;
  --light-blue: #53687E;
  --dark: #2C3E51;
  --dark-blue: #1A252F;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

.u-navbar {
  position: relative;
  background-color: var(--nav-bg-color);
}

.u-navbar-menu {
  background-color: var(--nav-bg-color);
}

.main {
  min-height: calc(100vh - var(--nav-height));
  height: 100%;
  padding-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.main, .about {
  background-color: var(--intro-bg-color);
  color: var(--white);
}

.portfolio, .contact {
  background-color: var(--white);
  color: var(--dark);
}

.main-avatar {
  width: 14rem;
}

.main-title {
  font-size: 4rem;
}

.main-icon-star {
  display: inline-block;
  position: relative;
  width: 2rem;
  height: 2rem;
}

.main-icon-star > svg {
  width: inherit;
  height: inherit;
}

.main-icon-star:before,
.main-icon-star:after {
  content: "";
  position: absolute;
  width: 6rem;
  height: 3px;
  background-color: currentColor;
  top: 50%;
  border-radius: 3px;
}

.main-icon-star:before {
  right: 3rem;
}

.main-icon-star:after {
  left: 3rem;
}

.section {
  padding: 5rem 0;
}

.portfolio-card {
  position: relative;
  display: block;
  cursor: pointer;
  border-radius: .6rem;
  overflow: hidden;
}

.card-overlay {
  background-color: rgba(75, 75, 75, 0.6);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: top .3s ease-in-out;
}

.portfolio-card:hover .card-overlay {
  top: 0;
}

.portfolio-card-modal {
  cursor: default;
}

.card-modal-container {
  max-width: 100%;
  width: 100%;
  display: inline-flex;
  margin: 0;
}

.card-modal {
  width: 70vw;
  display: inline-block;
  margin: 0 auto;
}

.card-modal-header {
  position: relative;
  text-align: center;
  padding: 1rem 0;
}

.card-modal-close {
  position: absolute;
  right: 0;
  top: 10%;
}

.card-modal-img {
  width: 70%;
}

.btn {
  display: inline;
  padding: .8rem 1.4rem;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  color: black;
  border-radius: .3rem;
  background-color: inherit;
}

.btn-outlined-white {
  color: var(--white);
  border-color: var(--white);
  background-color: transparent;
}
.btn-light-grey {
  color: var(--white);
  border-color: transparent;
  background-color: var(--intro-bg-color);
}

.footer-details,
.footer-copy {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  padding: 5rem 0;
}

.footer-details {
  background-color: var(--light-blue);
}

.footer-copy {
  padding: 1rem 0;
  background-color: var(--dark-blue);
  color: var(--white);
  font-size: .8rem;
}

.social-link {
  width: 3rem;
  height: 3rem;
  padding: .8rem;
  border: 1px solid var(--white);
  border-radius: 50%;
  margin: 0 .4rem;
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.footer-icon {
  width: 1.4rem;
  height: auto;
}