$bg-primary: #03FAEE;
$bg-secondary: #F8F8F8;
$bg-body: #FFF;
$color-primary: #8B8B8B;
$shadow: #92F7F2;
$black-color: #000;

$header-height: 6rem;

$arial-font: Arial, Helvetica, sans-serif;
$impact-font: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
$md-font-size: 1.1rem;

$icon-width: 3rem;
$icon-height: 3rem;

$max-width: 1200px;

// xs  :   0,
// sm  : 640px,
// md  : 768px,
// lg : 1024px,
$lg-media: 1024px,
// xl : 1440px